/* Set max width for the form */
.form-container {
    max-width: 700px;
    /* Adjust the value as needed */
    margin: 0 auto;
    /* Center the form horizontally */
    align-items: flex-start;
}

.form-label {
    font-weight: bold;
}

.required-indicator {
    color: red;
    margin-left: 1px;
}

.listing-form-heading {
    padding-bottom: 50px;
    /* Adjust the value as needed */
}

/* Increase the height of the Book Description form */
#formBasicBookDescription {
    min-height: 150px;
    /* Adjust the value as needed */
}

.small-input {
    width: 250px;
}

.book-advertisement-label {
    width: 500px;
}

/* Style the control (date input field) */
.book-advertisement-control {
    width: 180px;
    margin-left: 20px;
    margin-top: 10px;
}

/* Style the button */
.listing-submit-button {
    width: 200px;

    background-color: #0f3460;

    color: white;
    border: none;

}

.btn-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

/* Override default hover and focus styles */
.btn-primary:hover,
.btn-primary:focus {
    background-color: #0c2a4d;
    /* Darker color on hover/focus */
}